* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
nav {
  display:flex;
  align-items:center;
  justify-content: space-between;
  background-color: #50738a;
  width:100%;
  height:70px;
  padding:10px 30px;
  border-radius: 5px;
  color:white;
}

nav ul {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  padding: 0px 20px;
  margin: 0 5px;
  
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
  color:white;
  padding:20px 20px;
}
.box{
  display: inline-block;
	width:300px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
	margin: 25px;
}
.slide-img{
	height: 450px;
	position:relative;
}
.slide-img img{
	width:100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}

.overlay {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 40px;
  right: 0;
  
}


overlay:hover {
opacity: 0.54;
}

.eye {
  width: 30px;
  height: 30px;
  background-color: aliceblue;
  text-align: center;
}




.detail-box{
	width: 100%;
display: flex;
flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	
}
.type{
	display: flex;
	flex-direction: column;
}

span {
  text-decoration:line-through;
  font-size: 13px;
  margin-left:3px;
  color:black;
}

.price {
  color:teal;
}
.new-circle {
  height: 45px;
  width: 45px;
  background-color: #bbb;
  border-radius: 50%;
position: relative;
bottom: 450px;
left: 10px;
  text-align: center;
  padding:10px;
  color:white;
  background-color: teal;
  font-size:13px;
}

.discount-circle {
  height: 45px;
  width: 45px;
  background-color: #bbb;
  border-radius: 50%;
  position: relative;
  bottom: 495px;
  left: 250px;
  text-align: center;
  padding:10px;
  color:white;
  background-color:red;
  font-size:13px;
}

.btn-add {
  margin-top:10px;
  margin-left: 20px;
  width: 150px;
  height:50px;
  background: #4076D6;
  color: #fff;
  border: none;
  padding: 5px 5px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
 
}