
body {
  background-color: #93b5e1;
}

.box {
  height: 220px;
  width: 100%;
  border: 2px black solid;
  border-radius: 10px;
  text-align: right;
  width: 600px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: white;

}

button {
height: 50px;
width: 80px;
color:cornflowerblue;
border:none;
border-radius: 5px;
margin: 10px 10px;
font-size: 20px;
}

h1 {
  text-align: center;
}