
.main {
  display:flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  width: 300px;
  height: 310px;
  margin:15px 60px;
  background-color:#e5d7db;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px  3px black;

}

img {
  margin: 0px 90px;
}

p {
  text-align: center;
}

.search-container {
  margin:10px 580px;
}

h1 {
  text-align: center;
  font-size: 50px;
}

